@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;

400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.line-before,
.line-after {
  display: inline-block;
  position: relative;
}

.line-before::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  background: #8B8371;
}

.line-after::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  background: #8B8371;
  left: 125%;
  right: -69px;
}

.title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
}

.btn-link a {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  min-height: 64px;
  display: inline-flex;
  padding: 0 38px;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  display: contents;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 85px;
}

.header .menu-burger {
  display: none;
}

.header .menu-burger__btn {
  display: block;
  position: relative;
  width: 56px;
  height: 45px;
  z-index: 3;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid #D4B098;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  color: rgba(0, 0, 0, 0.55);
  padding: 0 12px;
}

.header .menu-burger__btn.active span {
  background-color: #D4B098;
}

.header .menu-burger__btn.active span:first-child {
  position: absolute;
  transform: rotate(45deg);
  margin-top: 14.125px;
}

.header .menu-burger__btn.active span:last-child {
  transform: rotate(-45deg);
  margin-bottom: 11.25px;
}

.header .menu-burger__btn.active span:nth-child(2) {
  transform: scale(0);
}

.header .menu-burger__btn span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #D4B098;
  margin: 5px 0;
  transition: 0.3s;
}

.header .logo__text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #555248;
}

.header__nav ul li {
  display: inline;
  margin-right: 65px;
}

.header__nav ul li:last-child {
  margin-right: 0;
}

.header__nav ul li a {
  font-size: 14px;
  line-height: 16px;
  color: #555248;
}

.header__helpers-icon a {
  margin-right: 23px;
}

.header__helpers-icon a:last-child {
  margin-right: 0;
}

.header__helpers-icon a img {
  vertical-align: middle;
}

.header__like {
  position: relative;
}

.header__like-counter {
  position: absolute;
  display: flex;
  top: -3px;
  right: -7px;
  width: 13px;
  height: 13px;
  background: #E6C8B4;
  border-radius: 50%;
  font-size: 8px;
  line-height: 9px;
  color: #1B1A17;
  justify-content: center;
  align-items: center;
}

.no-webp .content .collection{
  background-image: url("../img/elipse_main.png"); }

.content .collection {
  position: relative;
  background-position: 70% 0;
  background-repeat: no-repeat;
  height: 768px;
}

.content .collection__main-img {
  position: absolute;
  top: -1%;
  left: 48.5%;
}

.content .collection__text {
  position: relative;
  padding-top: 230px;
  padding-left: 70px;
}

.content .collection__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #1B1A17;
  margin-bottom: 16px;
}

.content .collection__title::before {
  right: 105%;
  left: -67px;
  top: 55%;
}

.content .collection__sub-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #1B1A17;
  margin-bottom: 39px;
}

.content .collection__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: rgba(27, 26, 23, 0.82);
  margin-bottom: 64px;
}

.content .collection__link a {
  background: #444240;
}

.content .collection__diameter {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1B1A17;
  position: absolute;
  top: 80%;
  right: -15%;
}

.content .collection__diameter::before {
  right: 115%;
  left: -68px;
}

.content .collection__price {
  position: absolute;
  top: 17.5%;
  left: -18%;
}

.content .collection__price span {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1B1A17;
  margin-right: 4px;
}

.content .collection__price img {
  vertical-align: baseline;
}

.content .popular {
  position: relative;
}

.content .popular__title {
  padding: 76px 0 52px;
  text-align: center;
}

.content .popular__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 36px;
}

.content .popular .item {
  width: 370px;
}

.content .popular .item__title {
  margin: 40px 0 10px 40px;
}

.content .popular .item__price {
  margin-left: 40px;
}

.content .popular .item-img {
  max-width: 313px;
  width: 100%;
  max-height: 313px;
  border-radius: 50%;
  position: relative;
  border: 1px solid rgba(212, 176, 152, 0.3882352941);
  display: block;
  margin: 0 auto 20px;
}

.content .popular .item__link {
  margin-left: 88px;
}

.content .popular .item__link::before {
  right: 125%;
  left: -50px;
  top: 50%;
}

.content .popular .item__link a {
  color: #1B1A17;
}

.content .popular__view-all {
  position: absolute;
  top: 115px;
  right: 0;
}

.content .popular__view-all a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #444240;
  border-bottom: 1px solid #C4C0B6;
  padding-bottom: 11.5px;
}

.no-webp .content .follow-news{
  background-image: url("../img/lines_banner.png"), url("../img/background_banner_1.png"); }

.content .follow-news {
  background-repeat: no-repeat, no-repeat;
  background-position: top right, top left;
}

.content .follow-news__row {
  display: flex;
  flex-direction: column;
}

.content .follow-news .column__row {
  display: flex;
}

.content .follow-news .column:first-child .column__row {
  padding-top: 52px;
  margin-bottom: 81px;
}

.content .follow-news .column:first-child .column__text {
  padding-left: 70px;
}

.content .follow-news .column:first-child .column__title {
  padding: 88px 0 38px;
}

.content .follow-news .column:first-child .column__description {
  padding-bottom: 45px;
  line-height: 150%;
}

.content .follow-news .column:last-child .column__row {
  flex-direction: row-reverse;
  margin-bottom: 90px;
}

.content .follow-news .column:last-child .column__title {
  padding: 140px 0 40px;
}

.content .follow-news .column:last-child .column__description {
  line-height: 27px;
  padding-bottom: 120px;
}

.content .follow-news .column__slider {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}

.content .follow-news .column__slider img {
  float: right;
}

.content .follow-news .column__paginator {
  display: inline-flex;
  padding: 20px 0;
  width: 85%;
  justify-content: end;
}

.content .follow-news .column__paginator a {
  display: contents;
}

.content .follow-news .column__paginator a:first-child img {
  transform: rotate(180deg);
}

.content .follow-news .column__paginator span {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
  padding: 0 20px;
}

.content .follow-news .column__text {
  flex: 1 1 50%;
}

.content .follow-news .column__description {
  max-width: 375px;
}

.content .follow-news .column__link a {
  background: #D4B098;
}

.content .follow-news .column__collage {
  flex: 1 1 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 460px;
}

.content .follow-news .column__collage img {
  padding-left: 10px;
}

.content .follow-news .column__collage > img:first-child {
  padding-bottom: 10px;
}

.content .follow-news .column__social-media ul li {
  display: inline;
  margin-right: 18px;
}

.content .follow-news .column__social-media ul li a img {
  vertical-align: middle;
}

.footer {
  background: #444240;
}

.footer__row {
  display: flex;
  justify-content: space-around;
}

.footer__list ul {
  padding: 67px 0;
}

.footer__list ul li:not(:first-child) {
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 15px;
}

.footer__list ul li:not(:first-child):last-child {
  padding-bottom: 0px;
}

.footer__list ul li:not(:first-child) a {
  color: rgba(255, 255, 255, 0.75);
}

.footer__list ul li:first-child {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 33px;
}

.footer__list ul li:first-child:not(.logo) {
  padding-top: 10px;
}

.footer__list ul li .logo__text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.14em;
  color: #FFFFFF;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .content .collection__diameter {
    right: 100%;
    white-space: nowrap;
  }

  .content .collection__diameter::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    background: #8B8371;
    left: 115%;
    right: -68px;
  }

  .content .collection__diameter::before {
    content: none;
  }

  .content .follow-news {
    background-position: top right, top 26.5% left;
  }

  .content .follow-news .column:first-child .column__text {
    padding-left: 0px;
  }

  .content .follow-news .column:first-child .column__title {
    padding: 0 0 38px;
  }

  .content .follow-news .column:last-child .column__row {
    flex-direction: column-reverse;
    align-items: center;
  }

  .content .follow-news .column:last-child .column__description {
    padding-bottom: 40px;
  }

  .content .follow-news .column:last-child .column__title {
    padding: 0 0 40px 0;
  }

  .content .follow-news .column__row {
    flex-direction: column-reverse;
  }

  .content .follow-news .column__text {
    padding-left: 0px;
    text-align: center;
    padding-bottom: 80px;
  }

  .content .follow-news .column__description {
    max-width: 750px;
    display: inline-block;
  }

  .content .follow-news .column__slider {
    align-items: center;
  }

  .content .follow-news .column__slider img {
    float: none;
  }

  .content .follow-news .column__paginator {
    width: unset;
    justify-content: unset;
  }

  .content .follow-news .column__collage {
    max-height: 460px;
    max-width: 639px;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  .content .collection {
    height: 100%;
    background-position: 90% 93%;
  }

  .content .collection__text {
    padding: 30px 0 25px;
    text-align: center;
  }

  .content .collection__main-img {
    position: relative;
    top: 0;
    left: 30%;
  }

  .content .collection__price {
    left: -10%;
  }

  .content .collection__diameter {
    right: 95%;
  }

  .content .popular__row {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .header__row {
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .header .menu-burger {
    display: block;
  }

  .header__nav,
  .header__helpers-icon {
    background-color: #f2f2f2;
    padding: 0.5rem 1rem;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
    position: absolute;
    left: 10%;
    width: 80%;
    z-index: 1;
  }

  .header__nav.active,
  .header__helpers-icon.active {
    opacity: 1;
    transition: 0.3s;
    pointer-events: all;
  }

  .header__nav {
    top: 65px;
  }

  .header__nav ul li {
    display: block;
    margin: 0;
    padding: 10px;
  }

  .header__helpers-icon {
    top: 227px;
    display: flex;
    justify-content: center;
  }

  .content .collection {
    background-size: 160%;
  }

  .content .collection__main-img {
    padding-bottom: 10px;
  }

  .content .collection__main-img .big-watch {
    width: 60%;
  }

  .content .popular__view-all {
    top: 155px;
  }

  .content .follow-news {
    background: none;
  }

  .content .follow-news .column:last-child .column__row {
    margin-bottom: 50px;
  }

  .content .follow-news .column__collage {
    max-height: none;
    max-width: none;
    height: unset;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .content .follow-news .column__collage img {
    max-width: -moz-max-content;
    max-width: max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    width: 100%;
    padding: 10px;
  }

  .webp .content .follow-news.follow {
    background-image: none;
    background: none;
  }

  .footer__row {
    flex-direction: column;
    align-items: center;
  }

  .footer__list:last-child ul {
    padding-bottom: 40px;
  }

  .footer__list ul {
    padding-bottom: 5px;
  }

  .footer__list ul:first-child {
    padding-top: 30px;
  }

  .footer__list ul li {
    display: flex;
  }

  .footer__list ul li:not(:first-child) {
    display: none;
  }

  .footer__list ul li:first-child {
    padding-bottom: 0px;
  }

  .footer__list ul li:first-child::after {
    content: "";
    width: 6px;
    height: 6px;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    margin-left: 6px;
    margin-top: 0px;
    transform: rotate(135deg);
  }

  .footer__list ul li.active:first-child::after {
    transform: rotate(315deg);
    margin-top: 5px;
  }

  .footer__list ul.active li:first-child {
    padding-bottom: 33px;
  }

  .footer__list ul.active li:not(:first-child) {
    display: block;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }

  .content .collection {
    background: none;
  }

  .content .collection__title::before {
    content: none;
  }

  .content .collection__diameter::after,
  .content .collection__price::after {
    right: -38px;
  }

  .content .collection__diameter {
    font-size: 14px;
    right: 105%;
    top: 70%;
    white-space: normal;
  }

  .content .collection__diameter::after {
    right: -38px;
  }

  .content .collection__price {
    left: auto;
    right: 103%;
    white-space: nowrap;
  }

  .content .collection__price span {
    font-size: 14px;
  }

  .content .popular__view-all {
    top: 205px;
  }

  .content .follow-news.follow {
    background-image: none;
    background: none;
  }

  .content .follow-news.follow .column__slider img {
    max-width: 521px;
    max-height: 414px;
    width: 100%;
  }

  .content .follow-news.follow .column__collage img {
    max-width: 262px;
  }
}

.webp .content .collection{ background-image: url(../img/elipse_main.webp); }

.webp .content .follow-news{ background-image: url(../img/lines_banner.webp), url(../img/background_banner_1.webp); }